<h1 style='width: 5em;border: 3px dashed blue' >Battle</h1>
<h3>Sign in to play</h3>

<form action="/names" method="post">
  <fieldset>
    <legend> Enter players names </legend>
    <label for="player 1" >
      Player 1 name:
    <input type="text" name="player_1">
  </label>
  <label for="player 2">
    Player 2 name:
    <input type="text"  name="player_2">
  </label>
    <input type="submit" value="Submit" >
  </fieldset>
</form>
