
<%= @player_1 %> vs <%= @player_2 %>
<div> <%= @player_2 %>: <%= @score %> </div>
<div> You attacked your opponent! </div>
<form action='/attack_response' method="post">
  <button>Attack</button>
</form>
